@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&family=Italianno&display=swap');
@import "tailwindcss";
 @theme{
    --font-italianno: "Italianno", cursive;
    
 }

   .custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.08);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.16);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.12) transparent;
}
 